# Core dependencies
torch==2.4.1+cu118
torchvision==0.19.1
numpy==1.22.4
PyYAML==6.0.2
tensorboard==2.6.0

# nuScenes dataset
nuscenes-devkit==1.1.11
pyquaternion==0.9.9
shapely==1.8.5.post1
scikit-image==0.18.3
opencv-python==4.5.5.64

# Utilities and logging
tqdm==4.65.2
matplotlib==3.5.3

# Optional but recommended for performance
numba==0.53.1